footer {
    background: $black;
    color: $white;
    padding: 4.8rem 0 5.5rem 0;
    .first-area {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .left {
            flex: 1;
            max-width: 60rem;
            p {
                color: $gray-world;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 155.3%;
                margin-top: 2.2rem;
            }
        }
        .right {
            flex: 1;
            max-width: 27rem;
            h3 {
                font-family: $primary-font;
                opacity: 0.8; 
                color: $white;
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 155.3%;
                letter-spacing: 0.162rem;
                text-transform: uppercase;
                margin-bottom: 1.5rem;
            }
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    &:not(:last-child) {
                        border-right: 1px solid $gray-world;
                        padding-right: 1.6rem;
                    }
                    a {
                        color: $gray-world;
                        opacity: 0.8;
                        font-size: 1.5rem;
                        line-height: 155.3%;
                        text-transform: uppercase;
                        transition: all .3s ease;
                        &:hover {
                            opacity: 1;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .second-area {
        border-top: 1px solid $gray-border;
        margin-top: 4.1rem;
        padding-top: 4.1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            color: $gray-footer;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 155.3%;
            letter-spacing: -0.105rem;
        }
    }

    @media (max-width: 991px) {
        .first-area {
                flex-direction: column;
                align-items: center;
                gap: 4rem;
                text-align: center;
            .left {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .right {
                ul {
                    li {
                        &:not(:last-child) {
                            margin-right: 1.6rem;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 570px) {
        .first-area {
            .left {
                p {
                    font-size: 1.3rem;
                }
            }
        }
        .second-area {
            flex-direction: column;
            gap: 0.8rem;
        }
    }
}