.btn-primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    background: $yellow;
    padding: .9rem 3.7rem .9rem 5.2rem;
    transition: background .3s ease;
    &:hover {
        background: $black-primary;
        span {
            color: $white;
        }
        img {
            filter: invert(1);
            
        }
    }
    span {
        color: $black;
        font-size: 4.6rem;
        font-family: $secondary-font;
        font-weight: 400;
        letter-spacing: 0.23rem;
        transition: color .3s ease;
    }
    img {
        transition: filter .3s ease;
    }
}

.s-how-to-use, .s-stories, .s-stickers, .s-word {
    display: none;
} 