* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

button {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}