// Colors
$black-primary: #1b1b1b;
$black-secondary: #242424;
$yellow: #fcc26b;
$yellow-border: #ffe0b1;
$white: #fff;
$black: #000;
$gray: #868686;
$gray-bg: #f8f8f8;
$gray-text: #787878;
$gray-title: #c5c5c5;
$gray-stories: #8e8e8e;

// Font-family
$primary-font: "Roboto Mono", serif;
$secondary-font: "Road Rage", serif;
$terciary-font: "Rock Salt", serif;